<li id="<%= feed_item.id %>">
  <h3><%= feed_item.title%></h3>
  <%= image_tag feed_item.image_url(:thumb) if feed_item.image? %>
  <%= content_tag "div", class: "in-hiding", id: "myLink_#{feed_item.id}", data: {link: feed_item.file_url, title: feed_item.title} do %> <% end %>
  <%= link_to(feed_item.title, '#', :id => "newLink_#{feed_item.id}") if feed_item.file%>
<button class="btn btn-success" type="button" title=<%=feed_item.title%> onclick=tweetThis("<%= feed_item.id %>") >Tweet to Download</button>


<script type="text/javascript">
function tweetThis(id) {
  var diving = "#myLink_" + id;
  var linkID = "#newLink_" +id;
  var newLink = $(diving).data('link');
  testLink = "http://localhost:3000" + newLink;
  console.log(newLink);
  var title  = escape($(diving).data('title'));
  var win = window.open('http://twitter.com/share?url=' + testLink + '&text=' + title + '&', 'twitterwindow', 'height=450, width=550, top='+($(window).height()/2 - 225) +', left='+$(window).width()/2 +', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
  var timer = setInterval(function() {   
    if(win.closed) {  
        clearInterval(timer);  
        $(linkID).attr("href", testLink );
        }  
}, 1000);

}
</script>



  <span class="content"><%= feed_item.description %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
  </span>
  <% if current_user?(feed_item.user) %>
    <%= link_to "delete", feed_item, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: feed_item.title %>
  <% end %>
</li>
