<div class= "col-xs-12 col-sm-6 col-md-4">
  <div class="tile">
  <%= image_tag feed_item.image_url(:thumb), class: " tile-image img-rounded img-responsive displayed" if feed_item.image? %>
 
 <p><%= link_to feed_item.title, feed_item, class: "h4"%> - Posted <%= time_ago_in_words(feed_item.created_at) %> ago.</p>
<p> <%= truncate(feed_item.description, :lenght =>20) %><%=link_to "(continued)", feed_item%></p>  
<% feed_item.tag_list.each do |tag| %>
   <p class="tag label label-inverse"><%= link_to tag, tag_path(tag)%></p> 
<% end %>
   
  <% if current_user?(feed_item.user) %>
    <%= link_to "delete", feed_item, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: feed_item.title %>
  <% end %>
 </div> 
</div>

